{
  "swagger" : "2.0",
  "info" : {
    "description" : "An API for keeping track of your contacts and the companies they work for. \n\nDon't forget to take it for a spin by clicking on the **Try in Client** button next to each operation! All read operations are public and don't require authentication.\n\n<div>\n<img src='https://thecontactsapi.apispark.net/v1/img/cropped-contact-img.png' width='90%'>\n<div>\n\n<!-- ![](https://thecontactsapi.apispark.net/v1/img/cropped-contact-img.png) -->\n\n",
    "version" : "1.2.0",
    "title" : "Contacts API",
    "termsOfService" : "",
    "contact" : { }
  },
  "host" : "thecontactsapi.restlet.net",
  "basePath" : "/v1",
  "schemes" : [ "https" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/users" : {
      "get" : {
        "summary" : "Retrieve users",
        "description" : "Retrieve list of users with valid salary range",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/Results"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "HTTP_BASIC" : {
      "description" : "All GET methods are public, meaning that *you can read all the data*. Write operations require authentication and therefore are forbidden to the general public.",
      "type" : "basic"
    }
  },
  "definitions" : {
    "Results" : {
      "type" : "object",
      "properties" : {
        "results" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "name" : {
                "type" : "string"
              },
              "salary" : {
                "type" : "number"
              }
            }
          }
        }
      },
      "example" : "{\n    \"results\": [\n        {\n            \"name\": \"John\",\n            \"salary\": 2500.05\n        },\n        {\n            \"name\": \"Mary Posa\",\n            \"salary\": 4000\n        },\n        {\n            \"name\": \"Peter\",\n            \"salary\": 1000.5\n        },\n        {\n            \"name\": \"Tom\",\n            \"salary\": 3999.99\n        },\n        {\n            \"name\": \"Harry\",\n            \"salary\": 999.99\n        }\n    ]\n}"
    }
  }
}